### Queries to find Public and Foreign Keys for each table as well as Relationships between tables

#### Part 1: Finding Public and Foreign Keys

In [22]:
# Remove limit on number of columns shown
import pandas as pd
pd.set_option('display.max_columns', None)

#### PK for Events Table is VAERS_ID

In [21]:
%%bigquery
select count(*) as count from vaers_staging.Events

   count
0  44344

In [31]:
%%bigquery
select count(distinct VAERS_ID) as distinct_count from vaers_staging.Events

   distinct_count
0           44344

#### FK of Symptoms Table is VAERS_ID from Events Table

In [26]:
%%bigquery
select count(*) as count 
from vaers_staging.Symptoms s left join vaers_staging.Events e on e.VAERS_ID = s.VAERS_ID 
where e.VAERS_ID is null

   count
0      0

In [24]:
%%bigquery
select count(*) as count from vaers_staging.Symptoms

   count
0  55260

#### FK of Vaccines Table is VAERS_ID from Events Table

In [27]:
%%bigquery
select count(*) as count 
from  vaers_staging.Vaccines v left join vaers_staging.Events e on e.VAERS_ID = v.VAERS_ID 
where e.VAERS_ID is null

   count
0      0

In [28]:
%%bigquery
select count(*) as count from vaers_staging.Vaccines

   count
0  56272

#### All three tables are connected by the VAERS_ID feature with the id being the Primary Key in Events Table and the Foreign Keys in both Vaccines and Symptoms Tables

#### Part 2: Finding Relationships between Tables

#### In Vaccines table, there is a higher count of VAERS_ID compared to distinct ones, which means there are duplicate entries of VAERS_ID, indicating a One-to-Many relationship between Events and Vaccines table.

In [5]:
%%bigquery
select count(VAERS_ID) as count 
from vaers_staging.Vaccines

   count
0  56272

In [30]:
%%bigquery
select count(distinct VAERS_ID) as distinct_count 
from vaers_staging.Vaccines

   distinct_count
0           44344

#### In Symptoms table, there is a higher count of VAERS_ID compared to distinct ones, which means there are duplicate entries of VAERS_ID, indicating a One-to-Many relationship between Events and Symptoms table.

In [6]:
%%bigquery
select count(VAERS_ID) as count 
from vaers_staging.Symptoms

   count
0  55260

In [35]:
%%bigquery
select count(distinct VAERS_ID) as distinct_count 
from vaers_staging.Symptoms

   distinct_count
0           44343

#### Due to there being duplicate VAERS_ID in both Vaccines and Symptoms table, this indicates a Many-to-Many relationship between the two tables.

In [1]:
%%bigquery
select count(*)
from vaers_staging.Symptoms s join vaers_staging.Vaccines v
on s.VAERS_ID = v.VAERS_ID

     f0_
0  70826