### Ingest data set from yelp

In [1]:
dataset_id = 'yelp_staging'

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'studied-brand-266702:yelp_staging' successfully created.

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 --allow_quoted_newlines \
--source_format=CSV {dataset_id}.Photo 'gs://yelp_csv_data/photo.csv'

Waiting on bqjob_r9c7bf5a7d6d94_000001700deac6f1_1 ... (4s) Current status: DONE

In [5]:
%%bigquery
select count(*) from yelp_staging.Photo

      f0_
0  200000

In [9]:
!bq --location=US load --skip_leading_rows=1 --allow_quoted_newlines \
--source_format=CSV {dataset_id}.Business 'gs://yelp_csv_data/business.csv' \
/home/jupyter/snippets/business_schema.json

Waiting on bqjob_r36cce258163cacfd_000001700df6154f_1 ... (23s) Current status: DONE